.title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 0.4em;
}
.rating {
  margin-top: 3px;
  margin-left: 5px;
}
.rating_container {
  display: flex;
}
.first_air_date {
  margin-bottom: 10px;
}
.overview {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin-top: 2em;
  margin-bottom: 0.7em;
}

.overview:hover {
  overflow-y: overlay;
}
