.main_container {
  display: flex;
  min-height: 100vh;
  padding: 25px;
  flex-direction: column;
  background-color: black;
}

.header {
  flex: 2;
}
.tv_show_detail {
  flex: 4;
}
.recommendations {
  flex: 2;
}
